/* caratteristiche generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 70%;
    margin: auto;
    padding: 10px 40px;
    background-color: white;
}

/* colori, margini e personalizzazioni semplici */
.inline_block{
    display: inline-block;
}
.background_lightgray{
    background-color: rgb(241, 241, 241);
}
.background_white{
    background-color: white;
}
.list div:nth-of-type(n+1){
    margin-top: 15px;
}
.list div:first-child{
    margin-top: 35px;
    display:inline-block;
}

/* caratteristiche logo & intestazione */
.logo_intestazione{
    margin: 15px 30px;
    vertical-align: middle;

}
.nome_sito_intestazione{
    font-size: 45px;
    font-weight: bolder;
    vertical-align: middle;
}

/* caratteristiche barra dei bottoni */
#barra_bottoni{
    margin-top: 35px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0;
}
nav button{
    font-size: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
}
.button_1{
    background-color: rgb(61, 179, 219);
    color: white;
    border-color: rgb(61, 179, 219);
}
.button_2{
    background-color: white;
    color: lightgray;
    border-color: lightgray;;
}


/* caratteristiche della lista things to do */
#corpo_lista{
    padding-bottom: 50px;
}
.nome_sezione{
    font-size: 23px;
}

/* icone x e v negli item della lista */
.v_green::before, .x_red::before{
    font-size: 12px;
    width: 16px;
    height: 16px;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
}
.v_green::before{
    content: "\2713";
    color:lightgreen;
}
.x_red::before{
    content: "x";
    color: red;
}

/* etichette degli item della lista */
.editorial::after, .q1goals::after, .recruiting::after, 
.mobile::after, .website::after, .sales::after
{
  padding: 5px;
  font-size: 10px;
  border-radius: 10px;
  color: white;
}
.editorial::after{
  content: "Editorial";
  background-color: rgb(61, 179, 219);
}
.q1goals::after{
  content: "Q1 Goals";
  background-color: rgb(130, 46, 179);
}
.recruiting::after{
  content: "Recruiting";
  background-color: rgb(19, 138, 13);
}
.mobile::after{
  content: "Mobile";
  background-color: rgb(231, 108, 47);
}
.website::after{
  content: "Website";
  background-color: rgb(161, 59, 180);
}
.sales::after{
  content: "Sales";
  background-color: rgb(155, 202, 84);
}